<div class="container">
    <div class="row">
        <div class="modal modalBackground" id="BrandModal" [ngClass]="{'show':popAdd==true}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" (click)="popAdd = false">&times;</button>
                        <h4 class="modal-title">Add Company</h4>
                    </div>
                    <form [formGroup] ="companyForm" >
                    <div class="modal-body">
                       
                        <div style="margin-bottom:13px;">
                            <input type="hidden" [value]="company.id"   />
                            <span>Company Name</span>
                            <input type="text" class="form-control" style="margin-top:5px;"  name="txtName"  formControlName = "companyName" />
                            <div *ngIf="companyForm.controls['companyName'].invalid && (companyForm.controls['companyName'].dirty || companyForm.controls['companyName'].touched)||showMessageError">
                                <span *ngIf= "companyForm.controls['companyName'].errors?.required"  class="alert errorMsg" > * Required</span>
                        </div>
                        </div>
                        <div style="margin-bottom:13px;">
                            <span>Company Code </span>
                            <input type="text" class="form-control" style="margin-top:5px;"  formControlName= "companyCode" />
                            <div *ngIf="companyForm.controls['companyCode'].invalid && (companyForm.controls['companyCode'].dirty || companyForm.controls['companyCode'].touched)||showMessageError">
                                <span *ngIf= "companyForm.controls['companyCode'].errors?.required"  class="alert errorMsg" > * Required</span>
                        </div>
                        </div>
                    
                    </div>
                    <div class="modal-footer">
                        <input *ngIf="savePopup =='insert' " type="button" value="Save" class="btn btn-primary" data-dismiss="modal" (click) = "insert()"   >
                        <input *ngIf="savePopup =='update' " type="button" value="Update" class="btn btn-primary" data-dismiss="modal" (click) ="update()"  >
                        <input  type="button" value="Cancel" class=" btn btn-primary " data-dismiss="modal" (click)="popAdd = false"  >

                    </div>
               </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
<div class="container-fluid backColor">
<!-- <div class="backColor"> -->
    <div class="row title" >
        <div class="col-md-6">
            <span class="bold TextSize">Manage  </span><span class="TitleColor">Company </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 message" *ngIf="showMsg" >
            <span style="float: left;">Successfully {{msg}}</span>
            <span class="glyphicon glyphicon-remove" style="float: right; cursor: pointer;" *ngIf="showMsg" (click) = "showMsg = false"></span>
        </div>
    </div>
    <div class="row " style="padding-bottom: 20px; padding-left: 15px;">  
        <div class="col-md-4">
            <input type="button" value="Add Company" class="btn btn-primary" (click)="popAdd=true ;savePopup='insert'" data-target="#BrandModal" data-toggle="modal"/>
        </div>
    </div>
<!-- </div> -->
<!-- border-bottom-style: outset; -->
<div class="contentSection">
<div class="row">
<div class="col-md-4">
    <span class="bold">Manage Compnies</span>
</div>
</div>
<div class="row">
    <div class="col-md-2">
        <span>Show</span>
        <input type="number" value="0" min=0 max=10> entries
    </div>
 
</div>
<div class="row tableBox">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th> 
                        <span style="float: left;">Company Name</span>
                        <!-- <span class="glyphicon glyphicon-sort arrow-btn"></span> -->
                    </th>
                    
                        <th> 
                            <span style="float: left;">Company Code</span>
                            <!-- <span class="glyphicon glyphicon-sort arrow-btn"></span> -->
                        </th>
                        <th>
                        <span style="float: left;">Action</span>
                        <!-- <span class="glyphicon glyphicon-sort arrow-btn"></span> -->
                    </th>        
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let company of companies">
                <td >{{company.name}}</td>
                <td >{{company.code}}</td>
                <td>
                    <button class="glyphicon glyphicon-pencil action-btn"  data-target="#BrandModal" data-toggle="modal"(click) ="getById(company.id)"></button>
                    <button class="glyphicon glyphicon-trash action-btn" style="margin-left: 5px;"(click) ="delete(company.id)" ></button>
                </td>
               
            </tr> 
          <tr *ngIf = 'companies?.length == 0'>
              <td  colspan="3" >
            <p style="text-align: center; margin-left: 10px;"> NO data available in table</p>
        </td>
    </tr>
            </tbody>
        </table>
    </div>
</div>

</div>
</div> 
