<div class="container">
    <div class="row">
        <div class="modal modalBackground" id="BrandModal" [ngClass]="{'show':popAdd==true}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" (click)="popAdd = false">&times;</button>
                        <h4 class="modal-title">Add Department</h4>
                    </div>
                    <form [formGroup] ="departmentForm" >
                    <div class="modal-body">
                       
                        <div style="margin-bottom:13px;">
                            <input type="hidden"  formControlName = "departmentId"   />
                            <span>Department Name</span>
                            <input type="text" class="form-control" style="margin-top:5px;"  name="txtName"  formControlName = "departmentName" />
                            <div *ngIf="departmentForm.controls['departmentName'].invalid && (departmentForm.controls['departmentName'].dirty || departmentForm.controls['departmentName'].touched)||showMessageError">
                                <span *ngIf= "departmentForm.controls['departmentName'].errors?.required"  class="alert errorMsg" > * Required</span>
                        </div>
                        </div>
                        <div style="margin-bottom:13px;">
                            <span>Department Code </span>
                            <input type="text" class="form-control" style="margin-top:5px;"  formControlName= "departmentCode" />
                            <div *ngIf="departmentForm.controls['departmentCode'].invalid && (departmentForm.controls['departmentCode'].dirty || departmentForm.controls['departmentCode'].touched)||showMessageError">
                                <span *ngIf= "departmentForm.controls['departmentCode'].errors?.required"  class="alert errorMsg" > * Required</span>
                            </div>
                        </div>
                        <div style="margin-bottom:13px;">
                            <span>Company</span>
                            <select  class="form-control" style="margin-top:5px;"  formControlName= "company_Id" >
                            <option *ngFor = "let company of companies" [value]="company.id">{{company.name}}</option>
                            </select>
                          
                        </div>
                    
                    </div>
                    <div class="modal-footer">
                        <input *ngIf="savePopup =='insert' " type="button" value="Save" class="btn btn-primary" data-dismiss="modal"  (click) ="insert()"  >
                        <input *ngIf="savePopup =='update' " type="button" value="Update" class="btn btn-primary" data-dismiss="modal" (click) ="update()" >
                        <input  type="button" value="Cancel" class=" btn btn-primary " data-dismiss="modal" (click)="popAdd = false"  >

                    </div>
               </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
<div class="container-fluid backColor">
<!-- <div class="backColor"> -->
    <div class="row title" >
        <div class="col-md-6">
            <span class="bold TextSize">Manage  </span><span class="TitleColor">Department </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 message" *ngIf="showMsg" >
            <span style="float: left;">Successfully {{msg}}</span>
            <span class="glyphicon glyphicon-remove" style="float: right; cursor: pointer;" *ngIf="showMsg" (click) = "showMsg = false"></span>
        </div>
    </div>
    <div class="row " style="padding-bottom: 20px; padding-left: 15px;">  
        <div class="col-md-4">
            <input type="button" value="Add Department" class="btn btn-primary" (click)="popAdd=true ;savePopup='insert'" data-target="#BrandModal" data-toggle="modal"/>
        </div>
    </div>
<!-- </div> -->
<!-- border-bottom-style: outset; -->
<div class="contentSection">
<div class="row">
<div class="col-md-4">
    <span class="bold">Manage Departments</span>
</div>
</div>

<div class="row tableBox">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th> 
                        <span style="float: left;">Department Name</span>
                    </th>
                    
                        <th> 
                            <span style="float: left;">Department Code</span>
                        </th>
                        <th> 
                            <span style="float: left;">Company Name</span>
                        </th>
                        <th> 
                            <span style="float: left;">Number Of Employee</span>
                        </th>
                        <th>
                        <span style="float: left;">Action</span>
                    </th>        
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let department of departments ">
                <td >{{department.name}}</td>
                <td >{{department.code}}</td>
                <td>{{department.companyName}}</td>
                <td>{{department.numberOfEmployee}}</td>
                <td>
                    <button class="glyphicon glyphicon-pencil action-btn"  data-target="#BrandModal" data-toggle="modal" (click) ="getById(department.id)"></button>
                    <button class="glyphicon glyphicon-trash action-btn" style="margin-left: 5px;" (click) ="delete(department.id)"  ></button>
                </td>
               
            </tr> 
          <tr *ngIf = 'departments?.length == 0'>
              <td  colspan="4" >
            <p style="text-align: center; margin-left: 10px;"> NO data available in table</p>
        </td>
    </tr>
            </tbody>
        </table>
    </div>
</div>

</div>
</div> 
